<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project 2!</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <div class="flex-column justify-space-around">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark .bg-gradient class">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">🐑⚡ Electric Sheep</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
            <a href="/profile">profile</a> |
            <button class="btn btn-primary" id="logout">Log Out</button>
            {{else}}
            <a class="nav-link" href="/login">Log In</a>
            {{/if}}
        </div>
      </nav>
    {{!-- </header> --}}
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>