<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Electric Sheep - A Dream Journal</title>
</head>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- New Post Button  -->
    {{#if logged_in}}
    <div class="col-sm-2 sidenav">
      <a type="button" class="btn btn-primary" style="color: white; background-color: #5b88ae;" href="/new-dreams">+ New Dream</a>
      {{/if}}
    </div>

  <!-- Post Content Column -->
  <div class="col-sm-9">

  <!-- Recent Dreams Image -->
  <div id="recent-img">
    <img src="./img/recent-dreams.png" >
  </div>

    <!-- Dream Title -->
    {{#each dreams as |dream| }}
    <p class="lead">
      {{dream.subject}}
    </p>

    <!-- Date/Author-->
     <p><em>Posted on {{format_date dream.createdAt}} by <b>{{user.user_name}}</em></b></p>

    <!-- Dream Content -->
    {{dream.body}}

    <hr>
  {{/each}}
  </div>
  </body>
