<!DOCTYPE html>
<section>
    <h2>Create A New Dream</h2>

    <form class="new-dream-form">
        <div class="form-group">
            <label for="subject">Subject:</label>
            <input class="form-control" type="text" id="subject" name="subject"
                placeholder="What's the subject of your dream">
        </div>
        <div class="form-group">
            <label for="body">Body:</label>
            <textarea class="form-control" type="text" name="body" id="body" rows="10"
                placeholder="Give us some detail"></textarea>
        </div>
        <div class="form-group">
            <label for="nightmare">Was this a nightmare?:</label>
            <input type="checkbox" class="form-control" name="nightmare" id="nightmare"></input>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Create Dream</button>
    </form>
</section>

<script src="./js/new-dream.js"></script>