main {
    background-color: white;
}

.navbar {
    background-color:rgb(0, 0, 0);
    opacity: 0.6; 
}

.welcome {
    color: rgb(0, 0, 0);
    background-color: #d3e6ec;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.sidenav {
    border-right: 2px solid lightgray;
}

.dream-body {
    margin-top: 10px;
}

h2 {
    font-weight: bold;
}

.sign-up-link {
    margin-top: 10px;
    font-weight: bold;
    border-left: 1px solid lightgray;
}

#sign-up-button {
    margin-top: 15px;
    margin-bottom: 10px;
}

.name-signup {
    margin-top: 10px;
}

.signup-form {
    margin-bottom: 10px;
}

.dropdowns {
    margin-top: 15px;
    margin-bottom: 10px;
}

.day {
    margin-top: 10px;
}

.month {
    margin-top: 10px;
}

.lead {
    background-color: #d3e6ec;
    padding-left: 5px;
}